{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}
{{- $reverse := (cond .Site.Params.orderByLastmod .Data.Pages.ByLastmod.Reverse .Data.Pages.ByDate.Reverse) }}
{{- $paginator :=  .Paginate $reverse .Site.Params.archivePaginate }}
<section id="archive" class="archive">
  {{- if and (not $paginator.HasPrev) .Site.Params.showArchiveCount }}
    <div class="archive-title">
      <span class="archive-post-counter">
        {{ T "archiveCounter" (len .Data.Pages) }}
      </span>
    </div>
  {{- end -}}

  {{- range $index, $element := $paginator.Pages -}}
    {{- $lastElement := $index | add -1 | index $paginator.Pages }}
    {{- $thisDate := (cond .Site.Params.orderByLastmod $element.Lastmod $element.Date) }}
    {{- $prevDate := (cond .Site.Params.orderByLastmod $lastElement.Lastmod $lastElement.Date) }}
    {{- $thisYear := $thisDate.Format "2006" }}
    {{- $prevYear := $prevDate.Format "2006" }}
    {{- if or (eq $index 0) ( ne $prevYear $thisYear ) }}
      <div class="collection-title">
        <h2 class="archive-year">{{ $thisYear }}</h2>
      </div>
    {{- end }}

    <div class="archive-post">
      <span class="archive-post-time">
{{- if .Site.Params.orderByLastmod }}
        {{ $element.Lastmod.Format "01-02" }}
{{- else }}
        {{ $element.Date.Format "01-02" }}
{{- end }}
      </span>
      <span class="archive-post-title">
        <a href="{{ $element.RelPermalink }}" class="archive-post-link">
          {{ .Title }}
        </a>
      </span>
    </div>
  {{- end -}}
</section>
<!-- pagination -->
<nav class="pagination">
  {{ with $paginator.Prev -}}
    <a class="prev" href="{{ .URL }}">
      <i class="iconfont icon-left"></i>
      <span class="prev-text">{{ T "prevPage" }}</span>
    </a>
  {{- end }}
  {{ with $paginator.Next -}}
    <a class="next" href="{{ .URL }}">
      <span class="next-text">{{ T "nextPage" }}</span>
      <i class="iconfont icon-right"></i>
    </a>
  {{- end }}
</nav>
{{- end }}
